@import url('./reset.css');

.container{
    width: 100vw;
    height: 100vh;
    background:radial-gradient( 96.74% 276.79% at 3.59% 5.28%, #f0f4ff 0%, #a5b6ee 100% );
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 80px 0 90px;
}

.logo{
    width: 244px;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    background-color: #4e6aae;
    border-radius: 15px;
    padding: 48px 55px 53px;
    box-shadow: 20px 20px 60px 10px rgb(55 75 124 / 40%);
}

.timer .timer-title{
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}

.timer .timer-box{
    font-weight: 900;
    color: #fff;
    font-size: 40px;
    display: flex;
    margin-top: 60px;
    width: 100%;
    justify-content: space-between;
}

.timer-box > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #354971;
    border-radius: 5px;
    background: linear-gradient(314.28deg, #304577 0%, #4c65a0 83%);
}

.timer .btn-box{
    margin-top: 40px;
}

.btn-box > button{
    margin: 0 6px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 110px;
    border-radius: 50px;
    line-height: 48px;
}

.btn-box .start-btn{
    background-color: #5180ff;
}

.btn-box .pause-btn{
    background-color: #5abfb7;
}

.btn-box .reset-btn{
    background-color: #fb7099;
}